# Core Django & Web Framework
Django
djangorestframewor
django-cors-headers

# PostgreSQL Support
dj-database-url
psycopg2-binary

# AI Recipe Generation
google-generativeai

# Networking
requests
urllib3
certifi
charset-normalizer
idna

# JSON & Data Processing
simplejson

# Env config
python-decouple
python-dotenv

# Production Server
gunicorn
whitenoise

# Time & Date
pytz
python-dateutil

# Django Internals
asgiref
sqlparse
